# Inspecting Dataset

In [3]:
import pandas as pd

test_df = pd.read_csv("../herbarium-berlin.csv", sep = '\t')

/root/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (34,40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:
test_df.shape

(380276, 45)

In [4]:
print(len(test_df.columns))
list(test_df.columns)

45

['gbifID',
 'datasetKey',
 'occurrenceID',
 'kingdom',
 'phylum',
 'class',
 'order',
 'family',
 'genus',
 'species',
 'infraspecificEpithet',
 'taxonRank',
 'scientificName',
 'countryCode',
 'locality',
 'publishingOrgKey',
 'decimalLatitude',
 'decimalLongitude',
 'coordinateUncertaintyInMeters',
 'coordinatePrecision',
 'elevation',
 'elevationAccuracy',
 'depth',
 'depthAccuracy',
 'eventDate',
 'day',
 'month',
 'year',
 'taxonKey',
 'speciesKey',
 'basisOfRecord',
 'institutionCode',
 'collectionCode',
 'catalogNumber',
 'recordNumber',
 'identifiedBy',
 'dateIdentified',
 'license',
 'rightsHolder',
 'recordedBy',
 'typeStatus',
 'establishmentMeans',
 'lastInterpreted',
 'mediaType',
 'issue']

In [21]:
test_df.iloc[:,0:3].head(10)

,gbifID,datasetKey,occurrenceID
0,1144558558,85714c48-f762-11e1-a439-00145eb45e9a,http://herbarium.bgbm.org/object/BW19937020
1,1144558559,85714c48-f762-11e1-a439-00145eb45e9a,http://herbarium.bgbm.org/object/BW19937010
2,1144558560,85714c48-f762-11e1-a439-00145eb45e9a,http://herbarium.bgbm.org/object/B200049406
3,1144558561,85714c48-f762-11e1-a439-00145eb45e9a,http://herbarium.bgbm.org/object/B200011251
4,1144558563,85714c48-f762-11e1-a439-00145eb45e9a,http://herbarium.bgbm.org/object/B100461080
5,1144558564,85714c48-f762-11e1-a439-00145eb45e9a,http://herbarium.bgbm.org/object/B100630589
6,1144558566,85714c48-f762-11e1-a439-00145eb45e9a,http://herbarium.bgbm.org/object/B200015631_b
7,1144558567,85714c48-f762-11e1-a439-00145eb45e9a,http://herbarium.bgbm.org/object/B100630588
8,1144558568,85714c48-f762-11e1-a439-00145eb45e9a,http://herbarium.bgbm.org/object/B100461077
9,1144558569,85714c48-f762-11e1-a439-00145eb45e9a,http://herbarium.bgbm.org/object/B100461067

In [13]:
test_df.iloc[:,3:10].head(10)

,kingdom,phylum,class,order,family,genus,species
0,Plantae,Tracheophyta,Polypodiopsida,Polypodiales,Aspleniaceae,Asplenium,Asplenium onopteris
1,Plantae,Tracheophyta,Polypodiopsida,Polypodiales,Aspleniaceae,Asplenium,Asplenium onopteris
2,Plantae,Tracheophyta,Polypodiopsida,Polypodiales,Athyriaceae,Diplazium,Diplazium rhoifolium
3,Plantae,Tracheophyta,Polypodiopsida,Polypodiales,Aspleniaceae,Asplenium,Asplenium virillae
4,Plantae,Tracheophyta,Magnoliopsida,Asterales,Asteraceae,Arctanthemum,Arctanthemum arcticum
5,Plantae,Tracheophyta,Magnoliopsida,Magnoliales,Annonaceae,Guatteria,Guatteria schomburgkiana
6,Plantae,Tracheophyta,Polypodiopsida,Polypodiales,Aspleniaceae,Asplenium,Asplenium alternifolium
7,Plantae,Tracheophyta,Magnoliopsida,Magnoliales,Annonaceae,Guatteria,Guatteria schomburgkiana
8,Plantae,Tracheophyta,Magnoliopsida,Asterales,Asteraceae,Leucanthemopsis,Leucanthemopsis alpina
9,Plantae,Tracheophyta,Magnoliopsida,Asterales,Asteraceae,Leucanthemopsis,Leucanthemopsis alpina

In [15]:
test_df.iloc[:,10:16].head(10)

,infraspecificEpithet,taxonRank,scientificName,countryCode,locality,publishingOrgKey
0,NaN,SPECIES,Asplenium acutum Bory ex Willd.,ES,Teneriffe.,57254bd0-8256-11d8-b7ed-b8a03c50a862
1,NaN,SPECIES,Asplenium acutum Bory ex Willd.,ES,Teneriffe a la forêt de Laguna.,57254bd0-8256-11d8-b7ed-b8a03c50a862
2,NaN,SPECIES,Diplazium rhoifolium Mett.,GY,New Granada.,57254bd0-8256-11d8-b7ed-b8a03c50a862
3,NaN,SPECIES,Asplenium virillae Christ,CR,"Candelaria, Alt.: 1600 m.",57254bd0-8256-11d8-b7ed-b8a03c50a862
4,NaN,SPECIES,Arctanthemum arcticum (L.) Tzvelev,NaN,Triostroff in Lapponia maxime or.,57254bd0-8256-11d8-b7ed-b8a03c50a862
5,NaN,SPECIES,Guatteria schomburgkiana Mart.,SR,NaN,57254bd0-8256-11d8-b7ed-b8a03c50a862
6,NaN,SPECIES,Asplenium heufleri Reichardt,IT,Rheinpreußen auf Devon Schiefer des Ahrthales....,57254bd0-8256-11d8-b7ed-b8a03c50a862
7,NaN,SPECIES,Guatteria schomburgkiana Mart.,SR,Para.,57254bd0-8256-11d8-b7ed-b8a03c50a862
8,NaN,SPECIES,Leucanthemopsis alpina (L.) V.H.Heywood,SK,Tatra.,57254bd0-8256-11d8-b7ed-b8a03c50a862
9,NaN,SPECIES,Leucanthemopsis alpina (L.) V.H.Heywood,IT,Lombardei. [?] in Monte Venerocolo.,57254bd0-8256-11d8-b7ed-b8a03c50a862

In [17]:
test_df.iloc[:,16:21].head(10)

,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,coordinatePrecision,elevation
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,1600.0
4,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN

In [18]:
test_df.iloc[:,21:31].head(10)

,elevationAccuracy,depth,depthAccuracy,eventDate,day,month,year,taxonKey,speciesKey,basisOfRecord
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4258472,4258713.0,PRESERVED_SPECIMEN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4258472,4258713.0,PRESERVED_SPECIMEN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8056568,8056568.0,PRESERVED_SPECIMEN
3,NaN,NaN,NaN,1909-12-17T00:00:00Z,17.0,12.0,1909.0,4258213,4258213.0,PRESERVED_SPECIMEN
4,NaN,NaN,NaN,1872-10-18T00:00:00Z,18.0,10.0,1872.0,3095283,3095283.0,PRESERVED_SPECIMEN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3155905,3155905.0,PRESERVED_SPECIMEN
6,NaN,NaN,NaN,1889-07-20T00:00:00Z,20.0,7.0,1889.0,4256216,2650632.0,PRESERVED_SPECIMEN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3155905,3155905.0,PRESERVED_SPECIMEN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3122039,3122039.0,PRESERVED_SPECIMEN
9,NaN,NaN,NaN,1871-08-01T00:00:00Z,NaN,8.0,1871.0,3122039,3122039.0,PRESERVED_SPECIMEN

In [19]:
test_df.iloc[:,31:41].head(10)

,institutionCode,collectionCode,catalogNumber,recordNumber,identifiedBy,dateIdentified,license,rightsHolder,recordedBy,typeStatus
0,B,Herbarium Berolinense,B -W 19937 -02 0,NaN,NaN,NaN,CC0_1_0,NaN,Broussonet,NaN
1,B,Herbarium Berolinense,B -W 19937 -01 0,NaN,NaN,NaN,CC0_1_0,NaN,J. B. G. M. Bory,HOLOTYPE
2,B,Herbarium Berolinense,B 20 0049406,NaN,NaN,NaN,CC0_1_0,NaN,"Linden,J.J.",NaN
3,B,Herbarium Berolinense,B 20 0011251,NaN,NaN,NaN,CC0_1_0,NaN,"Brade,A. & Brade,A.C.",NaN
4,B,Herbarium Berolinense,B 10 0461080,NaN,NaN,NaN,CC0_1_0,NaN,A. H. Brotherus & V. F. Brotherus,NaN
5,B,Herbarium Berolinense,B 10 0630589,NaN,P. J. M. Maas & L. J. T. Westra,NaN,CC0_1_0,NaN,"Hostmann,F.W.R. & Kappler,A.",NaN
6,B,Herbarium Berolinense,B 20 0015631_b,NaN,NaN,NaN,CC0_1_0,NaN,?,NaN
7,B,Herbarium Berolinense,B 10 0630588,NaN,P. J. M. Maas & L. J. T. Westra,NaN,CC0_1_0,NaN,"Hostmann,F.W.R. & Kappler,A.",NaN
8,B,Herbarium Berolinense,B 10 0461077,NaN,NaN,NaN,CC0_1_0,NaN,F. Hazslinszky,NaN
9,B,Herbarium Berolinense,B 10 0461067,NaN,NaN,NaN,CC0_1_0,NaN,xx Herbario R. Musei Florentini,NaN

In [20]:
test_df.iloc[:,41:46].head(10)

,establishmentMeans,lastInterpreted,mediaType,issue
0,NaN,2018-07-22T21:21:19.371Z,STILLIMAGE,NaN
1,NaN,2018-07-22T21:21:19.371Z,STILLIMAGE,NaN
2,NaN,2018-07-09T10:12:59.685Z,STILLIMAGE,RECORDED_DATE_INVALID
3,NaN,2018-07-07T19:13:53.330Z,STILLIMAGE,NaN
4,NaN,2018-07-07T19:13:46.368Z,NaN,NaN
5,NaN,2018-07-07T19:17:19.105Z,STILLIMAGE,NaN
6,NaN,2018-07-22T21:22:37.961Z,STILLIMAGE,NaN
7,NaN,2018-07-07T19:17:19.108Z,STILLIMAGE,RECORDED_DATE_INVALID
8,NaN,2018-07-07T19:18:04.706Z,NaN,NaN
9,NaN,2018-07-22T21:19:54.025Z,NaN,NaN

# Select Feature for Item Similarity

In [31]:
item_df = test_df[[
    'catalogNumber',
    'occurrenceID',
    'scientificName',    
    'kingdom',
    'phylum',
    'class',
    'order',
    'family',
    'genus',
    'species',
    'countryCode',
    'locality'
]]

In [32]:
item_df.head(10)

,catalogNumber,occurrenceID,scientificName,kingdom,phylum,class,order,family,genus,species,countryCode,locality
0,B -W 19937 -02 0,http://herbarium.bgbm.org/object/BW19937020,Asplenium acutum Bory ex Willd.,Plantae,Tracheophyta,Polypodiopsida,Polypodiales,Aspleniaceae,Asplenium,Asplenium onopteris,ES,Teneriffe.
1,B -W 19937 -01 0,http://herbarium.bgbm.org/object/BW19937010,Asplenium acutum Bory ex Willd.,Plantae,Tracheophyta,Polypodiopsida,Polypodiales,Aspleniaceae,Asplenium,Asplenium onopteris,ES,Teneriffe a la forêt de Laguna.
2,B 20 0049406,http://herbarium.bgbm.org/object/B200049406,Diplazium rhoifolium Mett.,Plantae,Tracheophyta,Polypodiopsida,Polypodiales,Athyriaceae,Diplazium,Diplazium rhoifolium,GY,New Granada.
3,B 20 0011251,http://herbarium.bgbm.org/object/B200011251,Asplenium virillae Christ,Plantae,Tracheophyta,Polypodiopsida,Polypodiales,Aspleniaceae,Asplenium,Asplenium virillae,CR,"Candelaria, Alt.: 1600 m."
4,B 10 0461080,http://herbarium.bgbm.org/object/B100461080,Arctanthemum arcticum (L.) Tzvelev,Plantae,Tracheophyta,Magnoliopsida,Asterales,Asteraceae,Arctanthemum,Arctanthemum arcticum,NaN,Triostroff in Lapponia maxime or.
5,B 10 0630589,http://herbarium.bgbm.org/object/B100630589,Guatteria schomburgkiana Mart.,Plantae,Tracheophyta,Magnoliopsida,Magnoliales,Annonaceae,Guatteria,Guatteria schomburgkiana,SR,NaN
6,B 20 0015631_b,http://herbarium.bgbm.org/object/B200015631_b,Asplenium heufleri Reichardt,Plantae,Tracheophyta,Polypodiopsida,Polypodiales,Aspleniaceae,Asplenium,Asplenium alternifolium,IT,Rheinpreußen auf Devon Schiefer des Ahrthales....
7,B 10 0630588,http://herbarium.bgbm.org/object/B100630588,Guatteria schomburgkiana Mart.,Plantae,Tracheophyta,Magnoliopsida,Magnoliales,Annonaceae,Guatteria,Guatteria schomburgkiana,SR,Para.
8,B 10 0461077,http://herbarium.bgbm.org/object/B100461077,Leucanthemopsis alpina (L.) V.H.Heywood,Plantae,Tracheophyta,Magnoliopsida,Asterales,Asteraceae,Leucanthemopsis,Leucanthemopsis alpina,SK,Tatra.
9,B 10 0461067,http://herbarium.bgbm.org/object/B100461067,Leucanthemopsis alpina (L.) V.H.Heywood,Plantae,Tracheophyta,Magnoliopsida,Asterales,Asteraceae,Leucanthemopsis,Leucanthemopsis alpina,IT,Lombardei. [?] in Monte Venerocolo.

# Percentage of missing values

In [33]:
item_df.isna().sum() * 100 / len(item_df)

catalogNumber      0.000000
occurrenceID       0.000000
scientificName     0.000000
kingdom            0.000263
phylum             0.398658
class              0.420221
order              0.430477
family             0.423114
genus              1.391621
species            8.549054
countryCode       15.862952
locality          25.323975
dtype: float64

# Number of unique value

In [34]:
item_df.nunique()

catalogNumber     380276
occurrenceID      380276
scientificName     69657
kingdom                4
phylum                11
class                 35
order                162
family               697
genus               8049
species            50746
countryCode          221
locality           72843
dtype: int64